---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllWriteups, groupWriteupsByYear } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allWriteups = await getAllWriteups()
  return paginate(allWriteups, { pageSize: SITE.postsPerPage })
}

const { page } = Astro.props

const writeupsByYear = groupWriteupsByYear(page.data)
const years = Object.keys(writeupsByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Writeups" />
  <Breadcrumbs
    items={[
      { label: 'Writeups', href: '/writeups', icon: 'lucide:file-pen-line' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:book-copy' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      years.map((year) => (
        <section class="flex flex-col gap-y-4">
          <div class="font-medium">{year}</div>
          <ul class="flex flex-col gap-4">
            {writeupsByYear[year].map((writeup) => (
              <li>
                <BlogCard entry={writeup} />
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/writeups/"
    client:load
  />
</Layout>
